<%- include('../partials/header') %>
<section id="shopCart">
    
<div>Title</div>
  <div> <% shop.forEach(function (b){ %>
        <tr> 
            <td><%= b.Title %></td>
        </tr>
 <% }); %></div>
  
    </section>
  <%- include('../partials/footer') %>