* {
  box-sizing: border-box;
  font-family: cursive;
  color: red;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://i.imgur.com/tisbV2F.jpeg');
  background-image: center;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#newform {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
 
}
#newform > label{
  font-size: 40px;
  color:aqua;
}
#newform input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  font-size: 25px;
  color:blue;
}
.header{
  font-size: 60px;
}
#list{
  font-size: 40px;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  color:orange;
  font-size: 40px;
}
#user th{
  color:rgb(233, 75, 202);
}

table td {
  padding: 10px;
  text-align: center;
  color:aqua;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}
#showpage {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  
}

#showpage div{
  color:aqua;
  font-size: 30px;
}

#showpage div:nth-child(even) {
  font-weight: bold;
}
#addShowPage1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  
}

#addShowPage1 div{
  color:aqua;
  font-size: 30px;
}

#addShowPage1 div:nth-child(even) {
  font-weight: bold;
}

#shopCart  div{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#shopCart div{
  color:rgb(104, 210, 139);
  font-size: 30px;
}

#shopCart button{
  color:darkmagenta;
  font-size: 30px;
}

#add-review-form{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  
}
#add-review-form > label{
  color: rgb(83, 201, 72);
  font-size: 30px;
}
#add-review-form input[type="submit"]
  {
  width: 10rem;
  grid-column: 2 / 3;
  color: rgb(83, 201, 72);
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

hr {
  color: #424748
}



.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}